.score_selecter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    gap: 800px;
}
.rulebuttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    gap: 20px;

}
button{
    height: 40px;
    width:300px;
    background-color: #000000;
    color: aqua;
    border-radius: 5px;
    font-size: larger;
}

button:hover{
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}
